---
import NavigationMobile from "./NavigationMobile.astro";
---

<div class="visible absolute md:hidden">
  <div
    class="menu-dropdown absolute -left-8 top-20 hidden h-screen w-screen cursor-pointer bg-blackPearl p-7 z-20"
  >
    <NavigationMobile name="Mercury" color="bg-foam" target="" />
    <NavigationMobile name="Venus" color="bg-tulipTree" target="Venus" />
    <NavigationMobile name="Earth" color="bg-purpleHeart" target="Earth" />
    <NavigationMobile name="Mars" color="bg-valencia" target="Mars" />
    <NavigationMobile name="Jupiter" color="bg-tacao" target="Jupiter" />
    <NavigationMobile name="Saturn" color="bg-goldenrod" target="Saturn" />
    <NavigationMobile name="Uranus" color="bg-java" target="Uranus" />
    <NavigationMobile name="Neptune" color="bg-royalBlue" target="Neptune" />
  </div>
</div>
