---
import NavigationMobile from "./NavigationMobile.astro";
---

<div class="absolute visible md:hidden">
  <div
    class="h-screen w-screen hidden absolute bg-blackPearl -left-8 top-20 p-7 cursor-pointer menu-dropdown"
  >
    <NavigationMobile name="Mercury" color="bg-foam" target="" />
    <NavigationMobile name="Venus" color="bg-tulipTree" target="venus" />
    <NavigationMobile name="Earth" color="bg-purpleHeart" target="earth" />
    <NavigationMobile name="Mars" color="bg-valencia" target="mars" />
    <NavigationMobile name="Jupiter" color="bg-tacao" target="jupiter" />
    <NavigationMobile name="Saturn" color="bg-goldenrod" target="saturn" />
    <NavigationMobile name="Uranus" color="bg-java" target="uranus" />
    <NavigationMobile name="Neptune" color="bg-royalBlue" target="neptune" />
  </div>
</div>
