---
import NavigationMobile from "./NavigationMobile.astro";
---

<div class="absolute visible md:hidden">
  <div
    class="h-screen w-screen hidden absolute bg-blackPearl -left-8 top-20 p-7 cursor-pointer menu-dropdown"
  >
    <NavigationMobile name="Mercury" color="bg-pelorous" target="" />
    <NavigationMobile name="Venus" color="bg-tulipTree" target="" />
    <NavigationMobile name="Earth" color="bg-purpleHeart" target="" />
    <NavigationMobile name="Mars" color="bg-valencia" target="" />
    <NavigationMobile name="Jupiter" color="bg-darkValencia" target="" />
    <NavigationMobile name="Saturn" color="bg-piper" target="" />
    <NavigationMobile name="Uranus" color="bg-java" target="" />
    <NavigationMobile name="Neptune" color="bg-royalBlue" target="" />
  </div>
</div>
