---

---

<footer class="mt-8 p-4 text-center text-white">
  <p>
    Coded with love by <a
      href="https://github.com/CalcagnoLoic"
      target="_blank"
      class="cursor-pointer">@CalcagnoLoic</a
    >
  </p>
</footer>
