---
import Dropdown from "./Dropdown.astro";
import Navbar from "./Navbar.astro";
---

<nav
  class="flex md:flex-col xl:flex-row justify-between md:justify-center xl:justify-between m-8"
>
  <h1
    class="uppercase font-antonio text-3xl text-white font-bold text-start md:text-center md:mb-10 xl:mb-0 xl:text-start"
  >
    the planets
  </h1>

  <Navbar />
  <Dropdown />
</nav>
