---
import Dropdown from "./Dropdown.astro";
import Navbar from "./Navbar.astro";
---

<nav
  class="m-8 flex justify-between md:flex-col md:justify-center xl:flex-row xl:justify-between"
>
  <h1
    class="text-start font-antonio text-3xl font-bold uppercase text-white md:mb-10 md:text-center xl:mb-0 xl:text-start"
  >
    the planets
  </h1>

  <Navbar />

  <Dropdown />
</nav>
