---
import Dropdown from "./Dropdown.astro";
import { Icons } from "../icons/Icons";

const name_planet: Array<string> = [
  "mercury",
  "venus",
  "earth",
  "mars",
  "jupiter",
  "saturn",
  "uranus",
  "neptune",
];
---

<nav
  class="flex md:flex-col xl:flex-row justify-between md:justify-center xl:justify-between m-8"
>
  <h1
    class="uppercase font-antonio text-3xl text-white font-bold text-start md:text-center md:mb-10 xl:mb-0 xl:text-start"
  >
    the planets
  </h1>

  <div class="self-center">
    <div class="hidden md:flex gap-8 font-bold">
      {
        name_planet.map((item) => (
          <a
            class="text-white uppercase cursor-pointer"
            href={`/space-fact/${item}`}
          >
            {item}
          </a>
        ))
      }
    </div>

    <Icons kind="menu" client:load />
  </div>

  <Dropdown />
</nav>

<script>
  let menuIsOpen = false;

  const toggleMenu = () => {
    const menu = document.querySelector(".menu-dropdown");
    
    if (menuIsOpen) {
      menu?.classList.add("hidden");
      menuIsOpen = false;
    } else {
      menu?.classList.remove("hidden");
      menuIsOpen = true;
    }
  };

  document.addEventListener("DOMContentLoaded", () => {
    const menu = document.querySelector(".hamburger");
    menu?.addEventListener("click", toggleMenu);
  });
</script>
