---
import { Icons } from "../icons/Icons";
import { getPlanetName } from "../scripts/getPlanetName";
import { namePlanet } from "../data/data";

const currentPlanet = getPlanetName(Astro.url.pathname, namePlanet);
---

<div class="self-center">
  <div class="hidden gap-8 font-bold md:flex">
    {
      namePlanet.map((planet) => (
        <a
          class="cursor-pointer uppercase text-white opacity-80"
          href={`/space-fact/${planet.name === "Mercury" ? "" : planet.name}`}
        >
          <span
            class={`border-b-4 md:pb-8 xl:pb-9 ${currentPlanet === planet.name ? planet.borderColor : "border-b-transparent"}`}
          >
            {planet.name}
          </span>
        </a>
      ))
    }
  </div>

  <Icons kind="menu" />
</div>
