---
import { Icons } from "../icons/Icons";

const name_planet: Array<string> = [
  "mercury",
  "venus",
  "earth",
  "mars",
  "jupiter",
  "saturn",
  "uranus",
  "neptune",
];

const { isOpen } = Astro.props;
---

<div class="self-center">
  <div class="hidden md:flex gap-8 font-bold">
    {
      name_planet.map((item) => (
        <a
          class="text-white uppercase cursor-pointer"
          href={`/space-fact/${item}`}
        >
          {item}
        </a>
      ))
    }
  </div>

  <Icons kind="menu" isOpen={isOpen} client:load />
</div>
