---
import { Icons } from "../icons/Icons";

const { color, name, target } = Astro.props;
---

<div class="flex justify-between p-5 border-b-[1px] border-b-brightGray">
  <div class="flex gap-5">
    <div class={`w-5 h-5 rounded-full ${color}`}></div>
    <a href={`/space-fact/${target}`} class="self-center text-white uppercase font-bold"
      >{name}</a
    >
  </div>

  <Icons kind="chevron" />
</div>
