---
import { Icons } from "@icons/Icons";

const { color, name, target } = Astro.props;
---

<a
  class="flex justify-between border-b-[1px] border-b-brightGray p-5"
  href={`/planets-fact/${target}`}
>
  <div class="flex gap-5">
    <div class={`w-5 h-5 rounded-full ${color}`}></div>
    <span class="self-center font-bold uppercase text-white">{name}</span>
  </div>

  <Icons kind="chevron" />
</a>
