---
import { Icons } from "../icons/Icons";


---

<div class="text-white md:w-1/2 xl:w-full">
  <h1
    class="text-center font-antonio text-5xl font-bold uppercase xl:mt-28 xl:text-start xl:text-6xl"
  >
    {"test"}
  </h1>
  <p class="mt-4 text-center md:mt-6 md:text-start">
    <p class="mt-4 text-center md:mt-6 md:text-start"></p>
  </p>

  <div class="flex justify-center gap-4 md:justify-start">
    <p class="mt-8 opacity-70">
      Source:{" "}
      <a href={"#"} target="_blank" class="font-bold underline">
        Wikipedia
      </a>
    </p>
    <Icons kind="src" />
  </div>
</div>
