---
import "../../src/style/index.css";
import { ViewTransitions, slide } from "astro:transitions";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Calcagno Loïc" />
    <meta name="description" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{pageTitle}</title>
    <link rel="shortcut icon" href="public/favicon.svg" type="image/x-icon" />
  </head>

  <body class="bg-blackPearl bg-stars">
    <header class="border-b-[1px] border-b-brightGray">
      <Header />
    </header>

    <main
      class="mx-6 md:mx-[39px] xl:mx-[165px]"
      transition:animate={slide({ duration: "0.5s" })}
    >
      <slot />
    </main>

    <Footer />

    <script src="../scripts/menu.ts"></script>
  </body>
</html>
